.counter__wrapper{
    width: 300px;
    height: 250px;
    background-color: #3498db ;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    font-size: 25px;
    font-size: 900;
    color: white;
}
div{
    margin: 10px;
}
.inc{
    padding: 10px 15px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    font-size: 17px;
    transition: .3s;
}
.inc:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
}
.dec{
    padding: 10px 15px;
    margin: 0 10px;
    background-color: red;
    border: 1px solid red;
    color: white;
    font-size: 17px;
    transition: .3s;
}
.dec:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}